
<h3>NAME: </h3> 
<h3><%=@dj.name%></h3><br>
<h3>DJ NAME: </h3>
<h3><%=@dj.dj_name%></h3><br>
<h3>USERNAME: </h3> 
<h3><%=@dj.username%></h3>


<br>
<br>
 <a href="/playlists"> playlists </a>
<br>
  <a href="/"> home </a>



</form>

<br>
<br>
