<form method="post" action="/djs/:id'">  
 <input id="hidden" type="hidden" name="_method" value="PATCH">
<label>Name: </label> <br>
<input type="text" name="name" placeholder="Name"><br>
<label> DJ Name: </label> <br>
<input type="text" name="dj_name" placeholder="DJ Name"><br>
<br>
<input type="submit" value="Update DJ Profile">
<br>
<br>
 <a href="/playlists"> Playlists </a>
<br>
  <a href="/"> Home </a>



</form>