<form method="post" action="/djs/:id'">  
 <input id="hidden" type="hidden" name="_method" value="PATCH">
<label>Name: </label> <br>
<input type="text" name="name" placeholder="Name"><br>
<label> DJ Name: </label> <br>
<input type="text" name="dj_name" placeholder="DJ Name"><br>
<label> Bio: </label> <br>
<input type="text" name="bio" placeholder="Dj Bio"> <br>
<br>
<input type="submit" value="Update Playlist">




</form>