<h1>ALL DJs</h1>

<ul >
<% @djs.each do | dj |%>
<li>
<p><a href="/djs/<%= dj.id %>" ></p>
<%= dj.dj_name%> 
</a>

</li>

<% end %>
<br>
<br>
<br>
<a href="/playlists"> playlists </a>
<br>
<a href="/"> home </a>
<br>
</ul>