<h1>All Djs here</h1>

<ul>
<% @djs.each do | dj |%>
<li>
<a href="/djs/<%= dj.id %>" >
<%= dj.dj_name%> 
</a>

</li>

<% end %>
<br>
<br>
<br>
<a href="/playlists"> Playlists </a>
<br>
<a href="/"> Home </a>
<br>
</ul>