<h1><%= @dj.dj_name %></h1>



<ul>
<% @playlists.each do | playlist| %>
<li>
<a href="/playlists/<%=playlist[:id]%>">
<%= playlist[:title]%>
</a>
<% end %>
<br>
<br>

</li>
</ul>
<br>
<br>
 <a href="/playlists"> Playlists </a>
 <br>
 <br>
 <a href="/djs"> Back to djs </a>
 <br>
 <br>
 <a href="/"> Home </a>
<br>
 
 

