<h1><strong>SIGN UP</strong></h1>
<br>
<br>

<p><form method='POST' action='/djs'>
<label> Name: </label> <br>
<input type="text" name="name" placeholder="Name"><br>
<label> Dj Name: </label> <br>
<input type="text" name="dj_name" placeholder="Dj Name"><br>
<label> Username: </label> <br>
<input type="text" name="username" placeholder="Username"> <br>
<label> Password: </label> <br>
<input type="text" name="password" placeholder="Password"><br>
<br>
<input type="submit" value="Sign up!">
</form></p>

<br>
<br>
<a href="/"> home </a>