<h1>Edit Playlist </h1>

<form method="post" action="/playlists/<%=@playlist.id%>">  
 <input id="hidden" type="hidden" name="_method" value="PATCH">
<label> Title: </label> <br>
<input type="text" name="title" placeholder="Title"><br>
<label> Content </label> <br>
<input type="text" name="content" placeholder="playlist Content"><br>
<label> Air Time: </label> <br>
<input type="text" name="air_time" placeholder="time"> <br>
<label> Genre: </label> <br>
<input type="text" name="genre" placeholder="genre"><br>
<br>
<input type="submit" value="Update Playlist">

</form>
<br>
<br>
<a href="/playlists/<%=@playlist.id%>"> Back to Playlist </a>