<h1>ALL PLAYLISTS </h1>

<ul>
<% @playlists.each do | playlist |%>
<li>

<p><a href="/playlists/<%= playlist.id %>" >
                <%= playlist.title%>
            </a></p>

</li>

<% end %>


</ul>

<br>
<br>
<a href="/djs"> all djs </a>
<br>
<a href="/"> home </a>

<br>
<%if logged_in?%>
<br>
<a href='/playlists/new'> create a new playlist</a>
<br>




<% end %>