<h1>New Playlist </h1>

<form method="post" action="/playlists">  
<label> Title: </label> <br>
<input type="text" name="title" placeholder="Title" style="width: 300px;"><br>
<label> Content </label> <br>
<textarea type="text" name="content" placeholder="playlist Content" ></textarea><br>
<%# <textarea rows="2" cols="25" placeholder="This is the default text"></textarea> %>
<label> Air Time: </label> <br>
<input type="text" name="air_time" placeholder="time"> <br>
<label> Genre: </label> <br>
<input type="text" name="genre" placeholder="genre"><br>
<br>
<br>
<input type="submit" value="Upload Playlist">




</form>
<br>
 <a href="/playlists"> back to playlists </a>

