<div class="container">
  <header><img src="images/red_triangle_logo.png" class="img-responsive main-image"></header>
  <div  color="red" class="col-md-8 col-md-offset-2">
    <h2>HOMEPAGE</h2>

    <div class="content">
     <p>
    <h3>WELCOME</h3>
    </p>
    </div>
    <ul>
    <strong>X-PLPORE</strong>
        <li><br><a href="/djs"> <strong>DJS</strong></a></li>
        <li><b><a href="/playlists"> <strong>PLAYLISTS</strong></a> </li>
        
      
        
      </ul>
  </div>
</div>
